.layout {
    display: flex;
  }
  
/*  .leftNavbar {
    /* No styles needed if you want the default behavior 
  }*/
  
  .content {
    flex-grow: 1;
    padding: 1rem;
    /* Add any other styles you want for the content area */
  }