.protocol-list {
    list-style-type: none;
    padding: 0;
    margin: 5px 0;
}

.selected-protocol {
    background-color: #2196F3;
    border-radius: 3px;
    color: white;
}

.icon-padding {
    padding-right: 5px;
}
